body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #96d100;
}

#grid-container {
  display: grid;
  width: 960px;
  height: 760px;
  overflow: hidden;
  /* border: 1px solid white; */
  background-color: white;
}

/* cell layout */
.grid-cell {
  box-sizing: border-box;
  border: 1px solid black;
}

/* buttons */
.reset-button,
.user-choice-one,
.color-btn,
.eraser,
.user-grid-choice,
.random-colors {
  height: 30px;
  width: 120px;
  font-size: 14px;
  margin: 4px;
  border-radius: 10px;
  box-shadow: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.title {
  font-size: 90px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  margin-top: 10px;
}
