body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #96d100;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 760px;
  overflow: hidden;
  border: 1px solid white;
  background-color: white;
}

/* cell layout */
.grid-cell {
  box-sizing: border-box;
  border: 1px solid #ccc;
  flex-basis: calc(100% / 16);
  height: calc(100% / 16);
}

/* buttons */
.reset-button,
.user-choice-one,
.color-btn {
  height: 30px;
  width: 80px;
  font-size: 10px;
  margin: 4px;
}

.title {
  font-size: 90px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  margin-top: 10px;
}
